[Unit]
Description = Lock screen when going to sleep/suspend

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/betterlockscreen -l blur -t "Hello there!" --off 10
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
